<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".TheDogTailApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TheDogTail">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.TheDogTail">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.screens.timer.OverlayReminderActivity"
            android:exported="false"
            android:theme="@style/Theme.TransparentDialog"
            android:showWhenLocked="true"
            android:turnScreenOn="true"
            android:excludeFromRecents="true" />
        
        <receiver android:name=".receivers.HabitReminderReceiver" android:exported="false" />

        <receiver android:name=".receivers.NotificationActionReceiver" android:exported="false" />

        <receiver android:name=".receivers.MidnightRefreshReceiver" android:exported="false" />

        <receiver
            android:name=".receivers.BootReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

        <!-- Widget Receivers -->
        <receiver
            android:name=".widget.HabitChecklistWidgetReceiver"
            android:exported="true"
            android:label="@string/widget_checklist_label">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_habit_checklist_info" />
        </receiver>

        <receiver
            android:name=".widget.StreakSummaryWidgetReceiver"
            android:exported="true"
            android:label="@string/widget_streak_label">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_streak_summary_info" />
        </receiver>

        <receiver
            android:name=".widget.QuickActionsWidgetReceiver"
            android:exported="true"
            android:label="@string/widget_quick_label">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_quick_actions_info" />
        </receiver>

        <receiver
            android:name=".widget.InspirationWidgetReceiver"
            android:exported="true"
            android:label="@string/widget_inspiration_label">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_inspiration_info" />
        </receiver>
    </application>

</manifest>
